@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --white-global: #fff;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background: white;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white-global: #0c0c0c;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--white-global);
}
