html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 100%;
  width: 8px;

  dark-mode: {
    background-color: #222;
  }
}

body.dark *::-webkit-scrollbar {
  background-color: #222;
}

*::-webkit-scrollbar-track {
  background-color: white;

  dark-mode: {
    background-color: #222;
  }
}

body.dark *::-webkit-scrollbar-track {
  background-color: #222;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: #888;
  background-color: #888;
  position: relative;
  dark-mode: {
    border-color: #222;
    background-color: #333;
  }
}

body.dark *::-webkit-scrollbar-thumb {
  border-color: #222;
  background-color: #333;
}

*::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar {
  position: relative;

  .climbing-scroll-bar {
    position: absolute;
    top: 0;
    // right: -8px;
    right: 0;
    width: 30px;
    height: 30px;
    transform: translateX(-100%);
  }
}
