:root {
  --background: #000;
  --foreground: #000;
  --theme: #000;
}

html[data-theme="light"] {
  --background: #fff;
  --background-theme-btn: #fff;
  --foreground: #fff;
  --theme: #fff;
  --background-theme: #f9f9f9;

  --text-color: #040d12;
  --text-color-2: rgb(38 38 38/1);
  --vt-c-text-1: #213547;

  --bg-theme: #396273;
  --sun-theme: #8dc4d1;
  --moon-theme: #fff;
  --shadow-theme: #2e4e5c;
  --light-theme: #4d7281;
}

html[data-theme="dark"] {
  --background: #000;
  --background-theme-btn: #000;
  --foreground: #000;
  --theme: #000;
  --background-theme: rgb(23 23 23 / 1);

  --text-color: #faf0e6;
  --text-color-2: rgb(212 212 212/1);
  --vt-c-text-1: rgba(255, 255, 255, 0.87);

  --bg-theme: #fcf2eb;
  --sun-theme: #efb099;
  --moon-theme: #d6c2b5;
  --shadow-theme: #cac2bc;
  --light-theme: #fff;
}
